
<div class="registration-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

        <h2 class="text-center">Registration</h2>

         <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter Email/Username", class: "form-control" %> 
        </div>

         <div class="form-group">
            <%= f.text_field :name, autofocus: true, autocomplete: "email", placeholder: "Enter Name", class: "form-control" %> 
        </div>

        <div class="form-group">
            <%= f.text_field :mobile_no, autofocus: true, autocomplete: "email", placeholder: "Enter Mobile Number", class: "form-control" %> 
        </div>
        <div class="form-group">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control"%>
        </div>
        <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.submit "SUBMIT" , class: "form-control btn btn-primary" %>
        </div>  
  <% end %>
</div>   


<style type="text/css">
  .registration-form {
    width: 500px;
      margin: 50px auto;
  }
    .registration-form form {
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .registration-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>